<div class="navbar-wagon">

    <div class="col-md-1 hidden-xs text-right" style="margin-right: 0px; padding-right: 0px;">
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "http://res.cloudinary.com/mobajo/image/upload/v1516832172/departures_nyg6iv.png", style: "margin-top: 10px;" %>
        <% end %>
    </div>
    <div class="col-xs-12 col-md-8 text-left">
          
    <!-- Logo -->
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <h2>Lufthavns scraper</h2>
      <% end %>
    </div>

    <div class="col-md-4 hidden-xs">
      
    </div>

    
</div>

